    @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #FFD703;
    --secondary-color: #C807B4;
    --tetiaty-color: #0012B7;
    --quatenary-color: #8205FF;
    --quinary-color: #05C2EC;
    --dark-color: #000000;
    --light-color: #ffffff;
    --grayscale-color: #eeeeee;
}

.left-side,
.right-side{
    /* altera 100% - vertical height */
    height: 100vh;
    /* ocutar a barra de rolagem */
    overflow: hidden;
}


.left-side{
    background: #ffd703;
    background: linear-gradient(90deg, #ffd703 5%, #c807b4 80%);
}

.left-side__brand{

}

.right-side{
    align-items: center;
    justify-content: center;
}

.right-side__title{
    width: 300px;
    height: 191px;
    
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    font-size: 8em;
    line-height: 187px;
    
    color: #0012B7;
}

.right-side_form{
}

.right-side__label{

}

.right-side__buttom{
    border-radius: 50px;
    font-weight: 500;
    border: 1px solid #7726c4;
    transition: all .4s;
    width: 60%;
}

.right-side__buttom:hover{
    border: 1px solid #7726c4;
    transition: all .4s;
    transform: scale(1.05);
    background: white;
    color: #6e6e6e
}

.right-side__input{
    border-radius: 50px;
}

.right-side__input:hover{
    transition: all .4s;
    transform: scale(1.05);
}

.right-side_remember-pass{
    
}

@media (max-width: 720px){
    .left-side{
        height:20vh;
    }
    .right-side{
        height: 80vh;
    }
}


